<!DOCTYPE html>
<html lang="en" >
<head>

<!--trevysedge-->

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TrevysEdge</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="/static/assets/css/style.css" rel="stylesheet">
   <link href="/static/assets/css/custom.css" rel="stylesheet">
  <script src="/static/assets/js/main.js"></script>
</head>
<body>
<style>
.ourservices {
}

.ourservices p {
  font-size: 13px;
}

img{
  filter:none;
  filter:unset;
}
</style>

 <header id="header" >
    <div class="container d-flex align-items-center justify-content-between" id="float-left">

    <!--<h1 class="logo"><a href="index-2.html">trevysedgetrevysedge</a></h1>-->

      <a href="index.html" class="logo"><img src="/static/assets/img/logonoBG.png" alt="" class="img-fluid"></a>

    

      <nav id="navbar" class="navbar">
      
        <ul class="position-left">
          <li><a class="nav-link scrollto " href="index.html">Home</a></li>
          <li><a class="nav-link scrollto " href="howitworks.html">How it works</a></li>
          <li><a class="nav-link scrollto active" href="services.html">Services</a></li>
        
      

          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="aboutus.html">Our Story</a></li>    
                     <li><a href="aboutus.html">Core Values</a></li> 
                       <li><a href="aboutus.html">Partnership</a></li>                      
              <li><a href="#">Help and FAQs</a></li>
              <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
            </ul>
          </li>
      
          <li><a class="getstarted scrollto"  href="{{url_for('clients.logout')}}" id="">Logout</a></li>
        
        </ul>
        <i class="bi bi-list mobile-nav-toggle" id="nav-toggler"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
<body>

 <h2 class="col-12 text-center my-4 bigheader text-uppercase mt-5">Book our services</h2>

<section id="how-hero" class="d-flex align-items-center">
<div class="how-it-works">
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/static/assets/img/gallery/_1Self Loading Truck 7Ton_2.jpeg" alt="Image 1">
        <div class="card-content">
             <h5 class="card-title smallhead"><strong>Cargo Transportation</strong></h5>

            <div class="star mb-2">
              <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> 
              <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            </div>

            <p class="card-text textp">We provide solution to clients who are looking for the most affordable rate to
transport cargo and facilitate same day deliveries for clients within Nairobi.
            </p>
            
        </div>
        <button type="button" onclick="openModal1()" class="btn btn-primary request-btn">Request</button>
      </div>       
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/static/assets/img/gallery/KCA Minibus Inside.jpeg" alt="Image 2">
        <div class="card-content">
            <h5 class="card-title smallhead"><strong>Passenger vehicle</strong></h5>

            <div class="star mb-2">
              <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> 
              <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            </div>

            <p class="card-text textp">Book your family, safari group or
company passenger transport
using Tour Vans (8 Pass),
Landcruisers (8 Pass) and
Minibuses (22 Pass). 
            </p>
        
        </div>
        <button type="button" onclick="openModal2()" class="btn btn-primary request-btn">Request</button>
      </div>      
    </div>

    
  


    <div class="column" >
      <div class="card"   >
        <img src="/static/assets/img/gallery/truck-ballast.jpg" alt="Image 4">
        <div class="card-content" >
           <h5 class="card-title smallhead"><strong>Construction Vehicles</strong></h5>

            <div class="star mb-2">
              <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> 
              <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            </div>

            <p class="card-text textp">We give you access to construction vehicles:
Tipper Trucks, Compactors, Wheel
Loaders, Excavators & Breakers,
Graders, Bulldozers, Cranes and
Forklifts.

            </p>
        </div>
         <button type="button" onclick="openModal3()" class="btn btn-primary request-btn">Request</button>
      </div>      
    </div>
  </div>
</div>


</section>

<h2 class="col-12 text-center my-4 bigheader text-uppercase mt-5">Transport solution for your business</h2>
<section class=" justify-center-cont" >

<div class="vertical-container">

  <div class="image-container-cta">
    <img src="/static/assets/images/icons/delivered.png" alt="your-image-description-here">
  </div>
  <div class="text-container">
    <h2>Increase your transport variety</h2>
    <p>Our platform provides you with a variety of trucks, vans, pickups, motorbikes, tour vehicles, prados,
buses and construction vehicles. At the click of a button you start negotiating a transport deal.
</p>
  </div>
</div>



<div class="vertical-container">

  
  <div class="text-container">
    <h2>Cost Saving Solutions</h2>
    <p>We provide you with transport solutions that offer upto 40% discounts as transporters are able to
provide discounted rates depending on location and work schedule and slots.

</p>
  </div>
  <div class="image-container-cta">
    <img src="/static/assets/images/icons/cost-saving.png" alt="your-image-description-here">
  </div>
</div>



<div class="vertical-container">

  <div class="image-container-cta">
    <img src="/static/assets/images/icons/personalized.png" alt="your-image-description-here">
  </div>
  <div class="text-container">
    <h2>Personalized Attention</h2>
    <p>We will always ensure that our company is reachable for all your enquiries using phone lines provided and
emails. We walk together as we provide you with solutions. We value our customers and their concerns.
Experience our services and enjoy the ride as we grow together.
</p>
  </div>
</div>

<div class="vertical-container">
  <div class="text-container">
    <h2>Safety of your Goods</h2>
    <p>We have Identification details of truck owners and drivers. Trucks and goods are insured hence
we should expect safe delivery unless its a matter beyond our control.
</p>
  </div>
  <div class="image-container-cta">
    <img src="/static/assets/images/icons/safety.png" alt="your-image-description-here">
  </div>
</div>


<div class="vertical-container">

  <div class="image-container-cta">
    <img src="/static/assets/images/icons/payment.png" alt="your-image-description-here">
  </div>
  <div class="text-container">
    <h2>Payment upon Delivery</h2>
    <p>Payment to service provider is only released upon confirmation of delivery or job performance. The service
provider is also secured as payment is held by our Company incase of any disputes.
</p>
  </div>
</div>








</section>  





<!-- _______________Modals--->

<div id="cargo-modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span> 

    <h2 id="book-form-header" class="book-option-form">Book cargo transportation</h2>
    <br>
     
 <form id="transport-form" action="/booking" method="post">
  {{ BformC.hidden_tag()}}
			<div>
			<label for="full-name">Full Name *</label>
			{{BformC.name_of_client(placeholder="Enter your full name")}}
			<div id="full-name-error" class="error"></div>
		</div>
		<div>
			<label for="company-name">Company Name *</label>
			{{BformC.company(placeholder="Enter your company name")}}
			<div id="company-name-error" class="error"></div>
		</div>
		<div>
			<label for="email">Email Address *</label>
			{{BformC.email(placeholder="Enter your email address")}}
			<div id="email-error" class="error"></div>
		</div>
		<div>
			<label for="mobile-number">Mobile Number *</label>
			{{BformC.mobile_number(placeholder="Enter your mobile number")}}
			<div id="mobile-number-error" class="error"></div>
		</div>
		<div>
			<label for="alt-number">Alternative Number</label>
			{{BformC.alt_mobile_number(placeholder="Enter your alternative number")}}
			<div id="alt-number-error" class="error"></div>
		</div>

   <div>
        <label for="pickupLocation">Pick Up Location</label>
        {{BformC.pickup_location}}
    </div>
    
    <div>
		<label for="delivery-destination">Delivery Destination *</label>
    {{BformC.delivery_destination(placeholder="Enter your delivery destination")}}
		<div id="delivery-destination-error" class="error"></div>
	</div>
	<div>
		<label for="vehicle-type">Vehicle Type *</label>
		{{BformC.vehicle_type }}
		<div id="vehicle-type-error" class="error"></div>
	</div>

	<div>
		<label for="cargo-type">Cargo Type *</label>
		{{BformC.cargo_type(placeholder="Enter the cargo type")}}
		<div id="cargo-type-error" class="error"></div>
	</div>
	<div>
		<label for="cargo-weight">Cargo Weight (Kgs) *</label>
		{{BformC.cargo_wight(placeholder="Enter the cargo weight")}}
		<div id="cargo-weight-error" class="error"></div>
	</div>
	<div>
		<label for="cargo-volume">Cargo Volume (L*W*H) *</label>
		{{BformC.cargo_volume(placeholder="Enter the cargo volume")}}
		<div id="cargo-volume-error" class="error"></div>
	</div>
<div>
<label for="offer-amount">Offer Amount (Ksh) *</label>
{{BformC.offer_amount(placeholder="Enter the offer amount")}}
<div id="offer-amount-error" class="error"></div>
</div>
<div>


  <div class="form-message" id="form-message"></div>
</div>
{{ BformC.submit}}
   </form>
  </div>
  
</div>

<!--________________________________________________________________________________-->



<div id="passenger-modal" class="modal">
  <div class="modal-content">
  <span class="close" onclick="closeModal()">&times;</span> 

    <h2 id="book-form-header" class="book-option-form">Book passenger-vehicle</h2>
    <br>
     
 <form id="passenger form" action="/booking" method="post">
  {{ BformP.hidden_tag() }}
			<div>
			<label for="full-name">Full Name *</label>
			{{ BformP.full_name(placeholder="Enter your full name") }}
			<div id="full-name-error" class="error"></div>
		</div>
		<div>
			<label for="company-name">Company Name *</label>
			{{BformP.company_name(placeholder="Enter your company name")}}
			<div id="company-name-error" class="error"></div>
		</div>
		<div>
			<label for="email">Email Address *</label>
			{{BformP.email(placeholder="Enter your email address")}}
			<div id="email-error" class="error"></div>
		</div>
		<div>
			<label for="mobile-number">Mobile Number *</label>
			{{BformP.mobile_number(placeholder="Enter your mobile number")}}
			<div id="mobile-number-error" class="error"></div>
		</div>
		<div>
			<label for="alt-number">Alternative Number</label>
			{{BformP.alt_number(placeholder="Enter your alternative number")}}
			<div id="alt-number-error" class="error"></div>
		</div>

   <div>
        <label for="pickupLocation">Pick Up Location</label>
        {{BformP.pickup_location(placeholder="Enter your pick up location")}}
        <span class="error" id="pickupLocationError"></span>
    </div>
    
    <div>
		<label for="delivery-destination">Destination *</label>
    {{BformP.Destination(placeholder="Enter your delivery destination")}}
		<div id="delivery-destination-error" class="error"></div>
	</div>
	<div>
		<label for="vehicle-type">Vehicle Type *</label>
		{{ BformP.vehicle_type }}
		<div id="vehicle-type-error" class="error"></div>
	</div>


<div>
		<label for="passenger-capacity">Number of passengers *</label>
		{{BformP.no_of_passenger(placeholder="Enter the number of passengers")}}
		<div id="cargo-weight-error" class="error"></div>
	</div>

<div>
<label for="offer-amount">Offer Amount (Ksh) *</label>
{{BformP.offer_amount(placeholder="Enter the offer amount")}}
<div id="offer-amount-error" class="error"></div>
</div>

<div>

 <div class="form-message" id="form-message"></div>
</div>
{{ BformP.submit }}
   </form>
  </div>
  
</div>

<!--__________________________________________________________________________-->


<div id="construction-modal" class="modal">
  <div class="modal-content">
     <span class="close" onclick="closeModal()">&times;</span> 

    <h2 id="book-form-header" class="book-option-form">Book cargo transportation</h2>
    <br>
     
 <form id="transport-form" action="/booking" method="post">
  {{ BformCo.hidden_tag() }}
			<div>
			<label for="full-name">Full Name *</label>
			{{BformCo.full_name(placeholder="Enter your full name")}}
			<div id="full-name-error" class="error"></div>
		</div>
		<div>
			<label for="company-name">Company Name *</label>
			{{BformCo.company_name(placeholder="Enter your company name")}}
			<div id="company-name-error" class="error"></div>
		</div>
		<div>
			<label for="email">Email Address *</label>
			{{BformCo.email(placeholder="Enter your email address")}}
			<div id="email-error" class="error"></div>
		</div>
		<div>
			<label for="mobile-number">Mobile Number *</label>
			{{BformCo.mobile_number(placeholder="Enter your mobile number")}}
			<div id="mobile-number-error" class="error"></div>
		</div>
		<div>
			<label for="alt-number">Alternative Number</label>
			{{BformCo.alt_number(placeholder="Enter your alternative number")}}
			<div id="alt-number-error" class="error"></div>
		</div>

   <div>
        <label for="pickupLocation">Location</label>
        {{BformCo.location(placeholder="Enter your pick up location")}}
        <span class="error" id="pickupLocationError"></span>
    </div>
    
    
	<div>
		<label for="vehicle-type">Vehicle Type *</label>
    {{BformCo.vehicle_type}}
		<div id="vehicle-type-error" class="error"></div>
	</div>

<div>
<label for="offer-amount">Offer Amount (Ksh) *</label>
   {{BformCo.offer_amount(placeholder="Enter the offer amount")}}
<div id="offer-amount-error" class="error"></div>
</div>
<div>


  <div class="form-message" id="form-message"></div>
</div>
{{ BformCo.submit }}
   </form>
  </div>
  
</div>


<!-- _______________End Modals--->


 

  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact" id="footer-logo">
        <a href="home.html" class="logo"><img src="/static/assets/img/logonoBG.png" alt="" class="img-fluid"></a>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="login.html">SignUp</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Rate Calculator</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Help and FAQs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Partner with us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="privacypolicy.html">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
             <li><i class="bx bx-chevron-right"></i> <a href="404.html">Cargo transportation</a></li>           
              <li><i class="bx bx-chevron-right"></i> <a href="404.html">Courier and logistics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="404.html">Office Relocation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">House moving</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Tour vans and buses</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Construction vehicles</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Subscribe to our newsletter to receive updates from us. Subscription is free, no advertisements.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Trevy's Edge</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        By <a href="https://cpyder.net/">:  CpyderWeb</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->




  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>


</body>
</html>
