{% extends 'admin/master.html' %}
{% block body %}
{% if vehicles %}
        <table style="margin: 3rem;width: 100%;">
                <tr style="padding: 3rem;">
                        <th>DRIVERS NAME </th>
                        <th>DRIVERS ID</th>
                        <th>DRIVER NUMBER </th>
                        <th>DRIVER LICENCE</th>
                        <th>TRANSPOTER</th>
                        <th>APPROVE</th>

                </tr>
                {% for vehicle in vehicles %}
                <tr style="align-items: center;text-align: center;">
                        <td>{{vehicle.driver_name}}</td>
                        <td>{{vehicle.driver_id}}</td>  
                        <td>{{vehicle.driver_no}}</td>  
                        <td><a href="{{url_for('transpot.download', id = vehicle.id)}}">{{vehicle.licence_name}}</a></td>
                        <td> {{vehicle.OWNEDBY}}</td>
                        {% if vehicle.approved %} 
                        <td>APPROVED</td>
                        {% else %}
                                <form action="{{url_for('transpot.approve_vehicle', id = vehicle.id)}}" method="post"> 
                                        <td><input type="checkbox"> </td> 
                                        <td><input type="submit" name="SAVE"></td> 
                                </form>
                        {% endif %}

                </tr>
                {% endfor %}
        </table>
        {% endif %}
{% endblock %}